
@model IEnumerable<Empleado>

@{
    ViewBag.Title = "Empleados";
    ViewBag.Subtitulo = "Administrador";

}
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre completo
            </th>
            <th>
                Email
            </th>
            <th>
                Puesto
            </th>
            <th>
                RFC
            </th>
            <th>
                FechaAlta
            </th>
            <th>
                <a asp-controller="Empleado" asp-action="Find" class="btn btn-primary">Buscar</a>
                <a asp-controller="Empleado" asp-action="Add" class="btn btn-secondary">Crear</a>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.NombreCompleto
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Puesto
            </td>
            <td>
                @item.RFC
            </td>
            <td>
                @item.FechaAlta
            </td>
            <td>
                <a asp-controller="Empleado" asp-action="Update" asp-route-EmpleadoId="@item.EmpleadoId" class="btn btn-secondary">Actualizar</a>
                <a asp-controller="Empleado" asp-action="Delete" asp-route-EmpleadoId="@item.EmpleadoId" class="btn btn-danger" onclick="return confirm('Esta seguro de dar de baja al empleado?')">Eliminar</a>
            </td>
        </tr>
    }
</table>
@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   
}

